<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.trackeractivity"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="33"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:theme="@style/Theme.AppCompat"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:label="FaceTracker">

 <!--       <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
-->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name=".FaceTrackerActivity"
            android:icon="@drawable/icon"
            android:label="Face Tracker"
            android:exported="true"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
